<%= render 'layouts/tag'%>
<%= Category.second.name %>
<ul>
  <% @articles_two.each do |article| %>
    <li><%= link_to "#{article.name}", article_path(article) %></li>
  <% end %>
</ul>
<%= will_paginate @articles_two %>
